.logo{
    animation: fadeUpIn 1.5s ease-in forwards;
}

.slogan{
    animation: fadeUpIn 1s ease-in forwards;
    animation-delay: 2s;
    opacity: 0; 
}

.content{
    animation: fadeUpIn 1s ease-in forwards;
    animation-delay: 2s;
    opacity: 0;  
}

.phone {
    width: 360px;
    height: 550px;
    border-style: solid;
    border-width: 2px;
    border-color: gray;
    border-radius: 20px;

    background-color: white;
    
    flex-direction: column;
    align-items:  center;
    display: flex;

    box-shadow: -4px 2px 4px rgba(0, 0, 0, 0.1);
}

.phone-pill {
    width: 40px;
    height: 10px;
    margin-top: 5%;
    border-style: solid;
    border-width: 2px;
    border-color: gray;
    border-radius: 20px;

    background-color: gray;
}

.phone-content {
    overflow-y: scroll;
}

.phone-content .item_card_container {
    margin-bottom: 4%;
} 

p.info-title {
    font-size: 400%;
    font-family: 'Inter', sans-serif;
    margin-bottom: 0;
    
}

p.info-subtitle {
    font-size: 120%;
    font-family: 'Inter', sans-serif;
    margin-bottom: 0;
}

p.info-error{
    font-family: 'Inter', sans-serif; 
    color: red;
    font-style: italic;
}

p.info-success{
    font-family: 'Inter', sans-serif; 
    color: green;
    font-style: italic;
}

p.info-font{
   font-family: 'Inter', sans-serif; 
}

p.info-text {
    font-size: 120%;
    font-family: 'Inter', sans-serif;
}

.function-info-container {
    background-color: #d1e7f8;
    border-radius: 10px;
}

button.selected{
    background-color: #d1e7f8;
    color: black;
    border-color: #99abcc;
}

button.unselected{
    background-color: lightgray;
    color: black;
    border-color: gray;
}

div.newsletter{
    background-color: #d1e7f8;
    border-radius: 10px;
    
}

@media (max-width: 768px) {
    .phone {
    width: 360px;
    height: 550px;
    border-style: solid;
    border-width: 2px;
    border-color: gray;
    border-radius: 20px;

    background-color: white;
    
    flex-direction: column;
    align-items:  center;
    display: flex;

    box-shadow: -4px 2px 4px rgba(0, 0, 0, 0.1);
    }

    .phone-pill {
        width: 40px;
        height: 10px;
        margin-top: 5%;
        border-style: solid;
        border-width: 2px;
        border-color: gray;
        border-radius: 20px;

        background-color: gray;
    }

    .phone-content {
        overflow-y: scroll;
    }

    .phone-content .item_card_container {
        margin-bottom: 4%;
    } 

    p.info-title {
        font-size: 180%;
        font-family: 'Inter', sans-serif;
        margin-bottom: 0;
        text-align: center;
        
    }

    p.info-subtitle {
        font-size: 140%;
        font-family: 'Inter', sans-serif;
        margin-bottom: 0;
    }

    p.info-error{
        font-family: 'Inter', sans-serif; 
        color: red;
        font-style: italic;
    }

    p.info-success{
        font-family: 'Inter', sans-serif; 
        color: green;
        font-style: italic;
    }

    p.info-font{
    font-family: 'Inter', sans-serif; 
    }

    p.info-text {
        font-size: 90%;
        font-family: 'Inter', sans-serif;
        text-align: center;
    }
}

@keyframes fadeUpIn{
    from {
        transform: translateY(25%);
        opacity: 0;
    }
    to {
        transform: translateY(0%);
        opacity: 100;
    }
}